@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato-Italic";
  src: url("../fonts/Lato/Lato-Italic.ttf");
}


@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url("../fonts/OpenSans/OpenSans-Italic.ttf");
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  /*font-weight: 700;*/
  font-size: 1.2rem;
  /*font-family: "Lato-Light", sans-serif;*/
  font-family: "OpenSans-Light", sans-serif;
  /*letter-spacing: .4px;*/
}



#bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;

  /*background-image: url('../images/DSC_4016-noreg.jpg');
  background-position: center;
  background-size: cover;
  */

  background-color: #07090d;

  filter: blur(25px);
  /* Blur makes the edges go ut, this keep the window filled */
  transform: scale(1.3);
}





.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 34px;
  height: 100%;
  width: 100%;
}

.flex-row {
  display: flex;

}



.flex-column {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.flex-column:first-of-type {
  justify-content: flex-start;
  align-items: flex-start;
}



.flex-column:last-of-type {
  justify-content: flex-end;
  align-items: flex-start;
}


.allow-shrink {
	flex-grow: 0;
	flex-shrink: 1;
}

.center {
  justify-content: center !important;
}


.owf {
  font-size: 2em;
  margin-right: 10px;
}


.iframe-container {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

iframe {
  pointer-events: none;
  height: 870px;
}




/*-------------------
  DATA SPECIFIC STYLES
-------------------*/
#time {
  font-size: 10.0rem;
}

#weather {
  display: flex;
  /*align-items: center;*/
  flex-direction: column;
  align-items: flex-end;
}

#random-quote {
  font-family: "Lato-Italic", sans-serif;
  text-align: center;
  max-width: 500px;
}


.subcolumns {
  flex-direction: column;
  align-items: center;
}

.subcolumns:first-of-type {
  align-items: flex-start;
}

.subcolumns:last-of-type {
  align-items: flex-end;
}


.flex-column div {
	font-size: 2.2rem;
  	/*font-family: "Lato-Light", sans-serif;*/
	animation: fadein 1s ease-in;
}


.text-small {
	font-size: 22px !important;
	line-height: 170%;
}

/*----------------
	FADE IN
	Fade all columns/blocks/contents of columns
----------------*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
